.button {
  border-radius: 50px;
  border: none;
  padding: 0.4em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #55e5b0;
  cursor: pointer;
  transform: 0.2s ease background-color;
}
.button:hover {
  background-color: #58ad8e;
}
